html,
body {
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.form-signin {
  max-width: 400px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}


.form-control {
  height: 50px;
  border: 2px solid;
  border-image:  linear-gradient(90deg, red, orange, yellow, green, rgb(52, 140, 255), rgb(43, 43, 255), purple);
  border-image-slice: 1;
}



.LoginBtn {
  height: 60px;
  border: 1px solid white;
  background: linear-gradient(150deg, red, orange, yellow, green, rgb(70, 184, 255), rgb(41, 41, 255), purple);
  font-weight: bold;
}

.LoginBtn:hover{
  border: 1px solid white;
  opacity: 0.9;
}
.find {
  margin-top: 10px;
}

.find a:link{
  color: black;
  text-decoration: none;
}

.find a:visited{
  color: black;
}

