/* COMMON */
body {
  line-height: 1.4;
  font-family: "Noto Sans KR", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}

/* INNER */
.inner {
  width: 900px;
  margin: 0 auto;
  /* position: relative; */
}

/* HEADER */
.nav {
  background-color: #000;
}
.nav .aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .inputWrapper {
  position: relative;
  width: 420px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  margin: 10px 30px;
}
.nav .inputWrapper input[type="search"] {
  width: 80%;
  height: 100%;
  border: none;
  font-size: 16px;
  margin-left: 5%;
}
.nav .inputWrapper .btnSearch {
  position: absolute;
  right: 5%;
  top: 20%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

/* MAIN SECTION1 */
.mainSection1 img {
  max-width: 100%;
  margin: -3px auto;
}
.mainSection1-container {
  height: 200px;
  margin: 50px 0;
  display: flex;
  /* justify-content: center; */
  align-content: center;
}
.mainSection1-container .number {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}
.mainSection1-container .contaienr2 {
  text-align: right;
}
.mainSection1-container .contaienr2 #MainNum {
  font-size: 18px;
  font-weight: 600;
}

/* MAIN GALLERY */
.mainGallery {
  background-color: #000;
}
.mainGallery .main-gallery-wrapper {
  display: flex;
  justify-content: center;
}
.mainGallery .material-icons {
  /* margin: 0 1px; */
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.mainGallery .btnForward {
  visibility: hidden;
}
.mainGallery .btnForward,
.mainGallery .btnNext {
  margin-top: calc((484px + 16px * 2) / 2 - 70px);
  padding: 0 20px;
  font-size: 70px;
  color: #fff;
  vertical-align: middle;
}
.mainGallery .btnForward:hover,
.mainGallery .btnNext:hover {
  cursor: pointer;
}
.mainGallery .item img {
  width: 170px;
  height: 170px;
  float: right;
  margin-top: 12px;
  margin-bottom: 12px;
}
.mainGallery .gallery-btn-wrapper {
  display: flex;
  justify-content: center;
}
.mainGallery .gallery-btn-wrapper button {
  margin: 0 1px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

/* MAIN KEYWORD SECTION */
.mainKeywordSection .wrapper {
  display: flex;
  justify-content: space-around;
}
.mainKeywordSection .wrapper .KeywordTitle {
  font-weight: 700;
  font-size: 18px;
}

.mainKeywordSection .wrapper .mainKeywordBtn1,
.mainKeywordSection .wrapper .mainKeywordBtn2,
.mainKeywordSection .wrapper .mainKeywordBtn3 {
  width: 70px;
}

/* FOOTER */
.footer {
  background-color: #000;
  color: #fff;
  height: 200px;
  padding: 30px 0;
}
.footer .bigWrapper {
  width: 70%;
  margin: auto;
}
.footer .bigWrapper hr {
  /* width: 100%; */
  border: 0.5px solid #fff;
}
.footer .smallWrapper {
  display: flex;
  justify-content: space-between;
  /* margin: auto; */
}
.footer .container2 a {
  margin: 10px;
}
.footer .container2 p {
  margin-left: 10px;
}
.footer .container3 {
  display: flex;
}
.footer .container3 a {
  color: #fff;
}
.footer #instagram {
  float: right;
}
