<!-- HEADER -->
<ul class="nav justify-content-center pt-1 pb-1">
  <li class="nav-item">
    <a
      class="nav-link"
      id="btnLogo"
      aria-current="page"
      href="./index.html"
    >
      <img src="../img/Logo.png" alt="Let's Slip" />
    </a>
  </li>
  <li class="nav-item aboutus">
    <a class="nav-link" id="toAboutUs" href="{% url 'aboutUs' %}">
      <img src="../img/Button/Btn_toAboutUs.png" alt="" />
    </a>
  </li>
  <div class="inputWrapper">
    <input
      class="form-control me-2"
      type="search"
      placeholder="다양한 Slip을 검색하며 실패를 즐기세요!"
      aria-label="Search"
    />
    <button class="material-icons btnSearch" type="submit">
      search
    </button>
  </div>
  <li class="nav-item">
    <a
      class="mt-1 nav-link"
      id="btnToMyGalleryRainbow"
      href="{% url 'my_gallery_category' %}"
    >
      <img src="../img/Button/Btn_toMyGallery.png" alt="" />
    </a>
  </li>
  <li class="nav-item">
    <a class="mt-1 nav-link" id="btnOpenGallery" href="{% url 'login' %}">
      <img src="../img/Button/Btn_openGallery.png" alt="" />
    </a>
  </li>
  <li calss="nav-item">
    <a class="mt-1 nav-link" href="{% url 'myPage1' %}" style="display: flex; justify-content: center; align-items: center;">
      <span class="material-icons" style="color: #fff; font-size: 25px; margin-top: 6px">settings</span>
    </a>
  </li>
</ul>

<!-- FOOTER -->
<footer class="footer">
  <div class="w-75 m-auto bigWrapper">
    <div class="smallWrapper">
      <div class="container1">
        <img src="/./img/Logo.png" alt="." />
        <p>실패를 전시하는 갤러리</p>
      </div>
      <div class="container2">
        <div class="container3">
          <a href="javascript:void">이용약관</a>
          <a href="javascript:void">이용안내</a>
          <a href="javascript:void">운영정책</a>
        </div>
        <p>서울시 노원구 화랑로 621</p>
      </div>
    </div>
    <hr />
    <a href="javascript:void">
      <img id="instagram" src="../img/Button/Btn_Insta.png" alt="" />
    </a>
  </div>
</footer>
