<h1>메인 홈화면입니다.</h1>
<a href="{% url 'login' %}">로그인하기</a><br>
<a href="{% url 'logout' %}">로그아웃하기</a>
{% if user.is_authenticated %}
안녕하세요, {{ user.username }}님!
{% else %}
아직 로그인이 되지 않았습니다
{% endif %}
<hr>

<form  method="POST" action="{% url 'search' %}">
    {% csrf_token %}
    <input type="search" name="searched" value="{{searched}}" style="background-color: rgb(242, 242, 242)">
</form>
<hr>

<a href="{% url 'post_new' %}">새 글 작성</a>
<br>
<hr>
게시글 {{ posts.count }}개 
<br>
<hr>
<tbody>
{% for post in posts %}
<tr>
    {% if post.photo %}
    <img src = "{{ post.photo.url }}" alt="" height="200">
    {% endif %}
    <br>
    <td>날짜 : {{ post.date|date:'Y-m-d' }} / </td>
	<td>작성자 : {{ post.author.username }}</td>
    <br>
    <td>카테고리 : {{ post.category }} / </td>
	<td><a href = "{% url 'post_detail' post.id %}">제목 : {{ post.title }}</a></td><br>
    <hr>
</tr>
<br><br>
{% endfor %}
</tbody>

<!-- 이전페이지 -->
{% if posts.has_previous %}
<a href = "?page={{posts.previous_page_number}}">이전</a>
{% else %}
<a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
{% endif %}

<!-- 페이지리스트 -->
{% for page_number in posts.paginator.page_range %}
    {% if page_number == posts.number %}
    <a href="?&page={{ page_number }}">{{ page_number }}</a>
    {% else %}
    <a href="?&page={{ page_number }}">{{ page_number }}</a>
    {% endif %}
{% endfor %}

<!-- 다음페이지 -->
{% if posts.has_next %}
<a href = "?page={{ posts.next_page_number }}">다음</a>
{% else %}
<a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
{% endif %}

