{% load static %}
<!-- 감상평 작성 화면_1. Slip만 작성된 글/2. 성공기도 작성한 경우
답글 작성 화면_1. Slip만 작성된 글/2. 성공기도 작성한 경우 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>

    <!-- GOOGLE ICON -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- RESET CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />

    <title>SLIP COMMENTS</title>
    <link rel="stylesheet" href="{% static 'css/slipComments.css' %}" />
  </head>
  <body>
    <!-- HEADER -->
    <ul class="nav justify-content-center pt-1 pb-1">
      <li class="nav-item">
        <a
          class="nav-link"
          id="btnLogo"
          aria-current="page"
          href="{% url 'home' %}"
        >
          <img src="{% static 'img/Logo.png' %}" alt="Let's Slip" />
        </a>
      </li>
      <li class="nav-item aboutus">
        <a class="nav-link" id="toAboutUs" href="#">
          <img src="{% static 'img/Button/Btn_toAboutUs.png' %}" alt="" />
        </a>
      </li>
      <div class="inputWrapper">
        <form action="{% url 'search' %}" method="POST" class="form-control me-2">
            {% csrf_token %}
            <input
              class="form-control me-2"
              type="search"
              name="searched"
              value="{{searched}}"
              id="search-box"
              placeholder="다양한 Slip을 검색하며 실패를 즐기세요!"
              aria-label="Search"
              onkeypress="javascript:if(event.keyCode==13) {btnSearchClicked()}"
            />
            <button class="material-icons btnSearch" type="submit" id="search-box" onclick="wow()">
              search
            </button>
          </form>
      </div>
      <li class="nav-item">
        <a class="mt-1 nav-link" id="btnToMyGalleryRainbow" href="#">
          <img src="{% static 'img/Button/Btn_toMyGallery.png' %}" alt="" />
        </a>
      </li>
      <li class="nav-item">
        <a class="mt-1 nav-link" id="btnOpenGallery" href="#">
          <img src="{% static 'img/Button/Btn_openGallery.png' %}" alt="" />
        </a>
      </li>
    </ul>

    <div class="pb-5 inner">
      <!-- 목록으로 -->
      <button class="m-4 backBtn">
        <span class="material-icons">arrow_back_ios</span>
        <div>목록으로</div>
      </button>

      <!-- MY SLIP PROFILE -->
      <section class="m-5 profile-container">
        <div class="big-wrapper">
          <div class="img-wrapper">
            <img id="myProfileImg" src="{% static 'img/Main_exGalleryImg.png' %}" alt="" />
          </div>
          <div class="small-wrapper">
            <img src="{% static 'img/Hash/Hash_Life.png' %}" alt="" />
            <div class="mt-1 mb-3 mySlipTitle">{{ detail.b_name }}</div>
            <div class="p-3 table-box">
              <table class="ml-1 mr-1 table">
                <tbody>
                  <tr>
                    <td>작가:</td>
                    <td id="Author">{{ user.username }}</td>
                  </tr>
                  <tr>
                    <td>응원 수:</td>
                    <td id="cheersNum">5</td>
                  </tr>
                  <tr>
                    <td>제작 일시:</td>
                    <td id="makeDate">{{ detail.regdate|date:'Y.m.d' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>

      <!-- 아이콘 - 수정/업로드 -->
      <div class="icon-wrapper">
        <button id="btnModify">
          <img src="{% static 'img/Button/Btn_Modify.png' %}" alt="" />
        </button>
        <button id="btnUploadPhoto">
          <img src="{% static 'img/Button/Btn_UploadPhoto.png' %}" alt="" />
        </button>
      </div>

      <!-- 구분선 -->
      <hr />

      <!-- Slip 작품 소개 -->
      <section class="introWork">
        <p class="p-4">Slip 작품 소개</p>
        <div class="container work-container">
          <div class="col-md-4 col-sm p-4 work-wrapper">
            <div class="pb-1 workNum">01</div>
            <div class="pb-4 workTitle">당신의 Slip을 들려주세요</div>
            <div class="workContents">
              {{ detail.b_intro1 }}
            </div>
          </div>
          <div class="col-md-4 col-sm p-4 work-wrapper">
            <div class="pb-1 workNum">02</div>
            <div class="pb-4 workTitle">당신의 Slip을 들려주세요</div>
            <div class="workContents">
              {{ detail.b_intro2 }}
            </div>
          </div>
          <div class="col-md-4 col-sm p-4 work-wrapper">
            <div class="pb-1 workNum">03</div>
            <div class="pb-4 workTitle">당신의 Slip을 들려주세요</div>
            <div class="workContents">
              {{ detail.b_intro3 }}
            </div>
          </div>
        </div>
      </section>

      <!-- 구분선 -->
      <hr />

      <!-- Slip 성공기 작품 소개 -->
      <section class="introSuccessWork">
        <p class="p-4">Slip 이후의 성공 이야기</p>
        <div class="container work-container">
          <div class="col-md-4 col-sm p-4 work-wrapper">
            <div class="pb-1 workNum">01</div>
            <div class="pb-4 workTitle">당신의 Slip을 들려주세요</div>
            <div class="workContents">
              {{ detail.suc_intro1 }}
            </div>
          </div>
          <div class="col-md-4 col-sm p-4 work-wrapper">
            <div class="pb-1 workNum">02</div>
            <div class="pb-4 workTitle">당신의 Slip을 들려주세요</div>
            <div class="workContents">
              {{ detail.suc_intro2 }}
            </div>
          </div>
          <div class="col-md-4 col-sm p-4 work-wrapper">
            <div class="pb-1 workNum">03</div>
            <div class="pb-4 workTitle">당신의 Slip을 들려주세요</div>
            <div class="workContents">
              {{ detail.suc_intro3 }}
            </div>
          </div>
        </div>
      </section>

      <!-- 구분선 -->
      <hr />

      <!-- 아이콘 - 좋아요, 코멘트 -->
      <div class="icon-wrapper">
        <button id="btnModify">
          <img src="{% static 'img/Button/Btn_CommentsSmall.png' %}" alt="" />
        </button>
        <button id="btnUploadPhoto">
          <img src="{% static 'img/Button/Btn_Likes.png' %}" alt="" />
        </button>
      </div>

      <!-- 구분선 -->
      <hr />

      <!-- 답글 보기 -->
      <section class="slipComments">
        <div class="comments-wrapper">
          <div class="mb-4 mt-4 comments-container1">
            <p class="me-2" style="font-size: 22px; font-weight: 700">감상평</p>
            <p class="me-2" style="font-weight: 700">.</p>
            <div
              class="ms-2 comments-num"
              style="font-size: 22px; font-weight: 700"
            >
              87
            </div>
          </div>
          <div class="ps-2 mb-3 comments-container2">
            <img
              class="me-3 comments-userimg"
              src="{% static 'img/Comments_Profile.png' %}"
              alt=""
            />
            <div class="comments-container2-wrapper">
              <div class="me-4 comments-username">Troye</div>
              <p class="me-3" style="color: #676565">|</p>
              <div class="comments-date" style="color: #676565">2022.08.06</div>
            </div>
          </div>
          <div class="mb-2 comments-container3">
            <div class="comments-contents">
              <p>
                실수를 하고 정말 당황스러우셨을 텐데 이유를 찾고 나아지기 위해
                노력하는 모습이 멋집니다! 팔로우도 했어요ㅎㅎ 저도 앞으로
                Robert님을 응원하겠습니다. 시간 되실 때 제 갤러리도 놀러 오세요!
              </p>
            </div>
          </div>
          <div class="mb-3 comments-container4">
            <button class="btnComments">
              <img src="{% static 'img/Button/Btn_Comments.png' %}" alt="" />
            </button>
          </div>
          <!-- 대댓글 달기 -->
          <section class="nestedReply">
            <div class="nestedreply-wrapper">
              <div class="material-icons nestIcon">
                subdirectory_arrow_right
              </div>
              <form class="nestedReply" action="">
                <textarea
                  name="comments"
                  id="comments"
                  cols="30"
                  rows="5"
                  placeholder="Sliper가 작성한 감상평에 답글을 적어 주세요"
                ></textarea>
                <input
                  type="image"
                  src="{% static 'img/Button/Btn_CommentsUpload.png' %}"
                  name="btnWrtieComment"
                  id=""
                />
              </form>
            </div>
          </section>

          <div class="mt-4 mb-4 pt-4 pb-4 comments-container5">
            <!-- pagination -->
            <div class="material-icons">arrow_back_ios</div>
            <a class="active" href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
            <a href="">6</a>
            <a href="">7</a>
            <a href="">8</a>
            <a href="">9</a>
            <a href="">10</a>
            <div class="material-icons">arrow_forward_ios</div>
          </div>
        </div>
      </section>

      <hr />

      <!-- 감상평 적기 -->
      <section class="mt-4 createComments">
        <div class="create-comments-wrapper">
          <form class="writeComments" action="">
            <textarea
              name="comments"
              id="comments"
              cols="30"
              rows="5"
              placeholder="Slip 작품에 대한 감상평을 적어 주세요"
            ></textarea>
            <input
              type="image"
              src="{% static 'img/Button/Btn_CommentsUpload.png' %}"
              name="btnWrtieComment"
              id=""
            />
          </form>
        </div>
      </section>
    </div>
  </body>
</html>
